/* EL DOCUMENTO QUE CONTROLA TODO EL CSS DEL DOCUMENTO! NUFSET! */
.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}
.rubik-vinyl-regular {
  font-family: "Rubik Vinyl", system-ui;
  font-weight: 400;
  font-style: normal;
}
@font-face {
    font-family: "Data 70";
    src: url(./Data\ 70\ Regular.otf);
}

/* ANIMACION DEL CARRUSEL */

@keyframes slide{
    0%, 22.5% { transform: translateX(0%); }
    25%, 47.5% { transform: translateX(-33.333%); }
    50%, 72.5% { transform: translateX(-66.666%); }
    75%, 97.5% { transform: translateX(-33.333%); }
    100% { transform: translateX(0%); }
}

:root{
    --color-primario: #f0ebdf ;
    --color-secundario: #001219;
    --color-terciario: #cd3f27;
    --color-cuaternario: #fdd56f;
    --color-quinto: #94c9cd;
    --color-sexto: #df6d58;

    --tipografia-texto: "Special Elite";
    --tipografia-titulo: "Data 70";

    --padding-left: 60px;

    font-family: var(--tipografia-texto);
}

html{
    overflow-x: hidden;
}

body,h4,h3,h2,h1,p{
    font-family: var(--tipografia-texto);
    font-weight: 100;

    font-size: medium;
}



/* WIP */

.wip-popup-background{
    background-color: #0a94963e;

    position: fixed;

    width: 100%;
    height: 100%;

    z-index: 10;
}

.wip-popup{
    position: fixed;

    left: calc(50% - 200px);
    top: calc(50% - 200px);

    background-color: khaki;
    width: 300px;
    height: 300px;
    padding: 20px;
    box-shadow: 10px 10px 7px #00000051;
    transform: rotate(-3deg);

    transition: 0.4s;

    display: block;
    z-index: 11;
}

.wip-popup h1{
    font-size: larger;
    letter-spacing: 4px;
}

.wip-popup p{
    font-size: larger;
    line-height: 25px;
}

.wip-popup button{
    position: fixed;
    left: 305px;
    top: 0px;

    background-color: #00000000;
    border: none;
}

.wip-popup:hover{
    transform: rotate(0deg) scale(1.05);
    box-shadow: 15px 15px 10px #00000054;
}

.wip-popup:hover button p{
    font-weight: 900;
}

/* EL CUERPO PRINCIPAL */

body{
    display: flex;
    flex-direction: column;

    margin: 0;

    color: var(--color-secundario);

    background-color: var(--color-primario);
    background-size: 40%;

    margin-bottom: 20px;
}

.boton-pc{
    display:flexbox;
}
.boton-movil{
    display: none;
    padding: 0;
}
.boton-movil h4{
    content: "&#9776";
}

.linea-vertical{
    margin: 0;
    display: inline-block;

    position: fixed;
    left: 80px;

    width: 1.25px;

    border: none;
    background-color: var(--color-secundario);
    
    min-height: 100%;
}

/* SOBRE MI */

header{
    display: flex;
    flex-direction: row;

    margin: 0;
    padding-left: var(--padding-left);

    align-items: center;

    border-color: transparent transparent var(--color-secundario) transparent;
    border-style: solid;
    border-width: 2px;
}

header h3{
    width: 100%;
    margin: 0;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 20px;
}
header h4{
    width: 100px;
    margin: 0;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 20px;
        padding-top: 5px;

    font-weight: 100;

    background-image: linear-gradient(var(--color-cuaternario),var(--color-cuaternario));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s ease;
}

header h4:hover, header h4:focus{
    background-size: 100% 100%; 
    font-weight: 900;
}

header div {
    width: 100%;
    height: 40px;

    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;

    text-align: right;

    background-color: transparent;

    align-content: center;
}
header div button, header div select{
    margin: 0;
    padding: 0;

    height: auto;
    
    vertical-align: middle;

    background-color: transparent;

    border: none;

    font-family: var(--tipografia-texto);
    font-size: medium;
}

header div button h4, header div select{
    margin: 0;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 5px;

    color: var(--color-secundario);

    background-image: linear-gradient(var(--color-cuaternario),var(--color-cuaternario));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s ease;
}

header div button:hover h4, header div button:focus h4, header div select:hover, header div select:focus{
    background-size: 100% 100%;
    font-weight: 900;
}

.burger-movil{
    display: flex;
    flex-direction: column;

    position: fixed;
    padding: 0;
    margin: 0;
    right: 0;
    
    top: 109px;

    height: auto;

    background-color: var(--color-primario);
    border-color: var(--color-secundario);
    border-width: 2px;
    border-style: solid;

    display: none;
}

.header-marquee{
    background-color: var(--color-quinto);
}

marquee{
    margin-left: calc( var(--padding-left) - 40px);
    padding: 6px;
}

a{
    background-image: linear-gradient(var(--color-cuaternario),var(--color-cuaternario));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s ease;

    padding-top: 5px;
    padding-right: 10px;

    font-size: large;

    text-decoration: none;
    color: var(--color-secundario);
}
a:hover, a:focus{
    background-size: 100% 100%;
    font-weight: 900;
}

/* CONTENIDO */

.contenido{
    padding-left: calc( var(--padding-left) + 40px );
    margin-top: 20px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;

    gap: 20px;
}

.contenido h1{
    margin: 0;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;

    text-wrap-mode: nowrap;

    font-family: var(--tipografia-titulo);
    font-size: 120px;
}
.contenido h2{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;

    text-wrap-mode: wrap;

    font-size: 20px;

    font-weight: 900;
    letter-spacing: 3px;
}
.contenido ul{
    margin: 0;
    padding: 10px;
    padding-left: 20px;

    columns: 2;
    -moz-columns: 2;
}
.contenido li{
    padding: 4px;
}

.seleccion-horizontal{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.seleccion-vertical{
    display: flex;
    flex-direction: column;
    gap: 20px;

    text-align: justify;
}

.seleccion-horizontal-mv{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contenido div div{
    border-color: var(--color-secundario);
    border-style: solid;
    border-width: 2px;

    padding: 10px;
}
.sobremi{
    margin: 0;
    padding: 0;

    height: auto;
    width: auto;
}
.sobremi h1{
    margin: 0;
    padding: 20px;

    font-size: 7vw;
    object-fit: cover;
}
.sobremi hr{
    padding: 0;
    margin: 0;
    color: var(--color-secundario);

    width: 100%;
}

hr{
    border-color: var(--color-secundario)
}

.sobremi-img{
    margin: 0;
    padding: 0;

    height: 950px;
    width: 100%;

--pattern: 
  radial-gradient(closest-side, #777, #fff) 0/ 0.3em 0.3em space;
--map: 
  conic-gradient(#444444 0 0), 
  url(../Imagenes/fotomia.jpg) 50%/ cover
  grey;
background: var(--pattern), var(--map);
background-blend-mode: 
  multiply /* between pattern & map */, 
  screen /* between map layers */, 
  luminosity /* between map layers */;
filter: contrast(16);

mix-blend-mode: multiply;
}

.sobremi-img-relleno{
    margin: 0;
    padding: 0;

    height: 100%;
    width: auto;

--pattern: 
  radial-gradient(closest-side, #777, #fff) 0/ 0.3em 0.3em space;
--map: 
  conic-gradient(#2b2a2a 0 0), 
  url(../Imagenes/DSC00327.JPG) 50%/ cover
  grey;
background: var(--pattern), var(--map);
background-blend-mode: 
  multiply /* between pattern & map */, 
  screen /* between map layers */, 
  luminosity /* between map layers */;
filter: contrast(16);

mix-blend-mode: multiply;
}

.phone-img{
    margin: 0;
    padding: 0;

    height: 750px;
    width: 100%;

--pattern: 
  radial-gradient(closest-side, #777, #fff) 0/ 0.3em 0.3em space;
--map: 
  conic-gradient(#2b2a2a 0 0), 
  url(../Imagenes/phone.jpeg) 50%/ cover
  grey;
background: var(--pattern), var(--map);
background-blend-mode: 
  multiply /* between pattern & map */, 
  screen /* between map layers */, 
  luminosity /* between map layers */;
filter: brightness(0.7) contrast(16);

mix-blend-mode: multiply;
}

.sobremi-datos{
    padding: 20px;
    position: absolute;
    transform: translate(10px, 50px) rotate(-3deg) scale(1);

    box-shadow: 5px 5px 5px 5px #00000062;

    color: var(--color-primario);
    background-color: var(--color-terciario);

    width: 300px;

    transition: 0.3s;

    z-index: 2;
}
.sobremi-datos h4{
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 12px;

    font-weight: 900;
    font-size: large;
    width: 100%;
    border-bottom: 2px solid var(--color-primario);

}

.sobremi-datos:hover{
    transform: translate(10px, 50px) rotate(0deg) scale(1.1);
    box-shadow: 5px 5px 10px 10px #00000033;
}

.contenido div div p{
    padding: 0;
    margin: 0;

    font-size: large;
}
.proyectos-carta{
    display: flex;
    flex-direction: row;
    width: 49.45%;

}
.proyectos-carta h2{
    font-size: 300%;
}
.proyectos-carta h4{
    margin: 0;
    margin-bottom: 10px;

    font-size: 20px;
    letter-spacing: 4px;

    font-weight: 900;
    text-decoration: underline;
}
.proyectos-carta > .proyectos-interior{
    display: flex;
    flex-direction: column;

    
}
.halftone{
    background: transparent;
    position: relative;
    filter: saturate(0) brightness(0.7) contrast(2500%);
    overflow: hidden;
    transform: translateZ(0);
}
.halftone::after{
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    background-blend-mode: multiply;
    background: 
        radial-gradient(4px 4px, black, white);
    background-size: 4px 4px;
    background-position: 0 -3px, -2px 0, 2px 0;
    mix-blend-mode: screen;
    pointer-events: none;
    transform: rotate(45deg);
    z-index: 1;
}
.halftone img{
    width: 700px;
    height: 100%;
    object-fit: cover;
    
}

b{
    font-weight: 900;
}
/*.boton-especial{
    background-color: var(--color-terciario);

    border-color: var(--color-secundario);
    border-width: 2px;
    border-style: solid;

    box-shadow: var(--color-secundario) 6px 6px 0px;

    font-weight: bolder;

    transition: 0.1s;
}
.boton-especial:hover{
    box-shadow: var(--color-secundario) 4px 4px 0px;    
    transition: 0.1s;
}

.boton-especial:active{
        box-shadow: var(--color-secundario) 0px 0px 0px;
}
*/

/* SELECCION HORIZONTAL */
.carrusel{
    --slides: 4;
    --h: 35dvw;

    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: hidden;

    width: calc(100% * var(--slides));
    height: var(--h);
}
.carrusel-inner{
    display: flex;
    width: calc(var(--slides) * 680px);

    animation: slide 20s infinite ease-in-out;
    will-change: transform;
}
.carrusel-item{
    position: relative;

    flex: 0 0 calc(100% / var(--slides));
    height: 100%;

    display: flex;
    place-content: center;
    place-items: center;
}
.carrusel-item img{
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    border: var(--color-secundario) 2px solid;

    object-fit: cover;
    z-index: 1;
}

/* CONTACTAME */
input, textarea{
    padding: 5px;
    padding-top: 8px;
    width: 100%;

    background-color: transparent;

    font-family: var(--tipografia-texto);
    font-size: large;

    border: var(--color-secundario) 2px solid;
}
button[type=submit] {
    padding: 10px;
    background-color: transparent;

    font-family: var(--tipografia-texto);
    font-size: large;
}

/* FILTRO DE IMAGEN */
.imagen-filtro{
    background-image: radial-gradient(14px at 50% 50%, black, white);
    background-size: 20px 20px;
}

@media only screen and (max-width: 1400px) {
    .seleccion-horizontal-md{
        flex-direction: column;    
    }
}

@media only screen and (max-width: 900px) {
    .wip-popup{
        left: calc(50% - 170px);
        top: calc(50% - 200px);
    }

    :root{
        --padding-left: 0px;
    }

    .proyectos-carta{
        width: auto;
    }

    .boton-movil{
        display:inline;
    }
    .boton-pc{
        display: none;
    }
    header div button h4{
        padding-left: 0px;
        padding-right: 0px;
    }
    .contenido{
        padding: 10px;
        margin: 0;

        width: auto;
    }
    .seleccion-horizontal{
        flex-direction: column;
    }
    .seleccion-vertical{
        flex-direction: column;
    }
    .contenido h1{
        font-size: 14vw;
    }

    .sobremi{
        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        height: auto;

        width: 100%;
    }
    .sobremi-img{
        margin: 0;
        padding: 0;

        height: 639px;
        width: 100%;
        object-fit: cover;

        position: relative;

        border-top: var(--color-secundario) 2px solid;
    }
    .linea-vertical{
        margin: 0;
        padding: 0;
        display: none;
    }
    .sobremi-datos{
        transform: translate(10px, 120px) rotate(-3deg);
    }

    .sobremi-datos:hover{
        transform: translate(10px, 120px) rotate(0deg) scale(1.1);
        box-shadow: 5px 5px 10px 10px #00000033;
    }

    .burger-movil{
        display: flex;
        position: absolute;
        float: left;

        width: 200px;

        align-items: start;
        z-index: 99;

        padding: 5px;
    }
    .burger-boton-movil{
        width: 100%;
    }
    .burger-movil button h4{
        font-size: 20px;
        width: 100%;
        padding-left: 4px;

        text-align: start;
    }
    .burger-movil select{
        display: flex;
        width: 100%;

        padding: 0;
        margin: 0;
        padding-top: 4px;

        font-size: 20px;
        text-align: start;
    }
    .burger-movil select option{
        text-align: start;
        width: 1000px;
    }
    .sobremi-img-relleno{
        display: none;
    }
    .carrusel{
        --h: 65dvh;
    }
    .carrusel-inner{
        width: calc(var(--slides) * 30%);
    }
    .pc{
        display: none;
    }
}