/* EL DOCUMENTO QUE CONTROLA TODO EL CSS DEL DOCUMENTO! NUFSET! */
@font-face{
    font-family: synemono;
    src: url(./SyneMono-Regular.ttf);
}
@font-face {
    font-family: kentokyo;
    src: url(./ZenTokyoZoo-Regular.ttf);

}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}
.rubik-vinyl-regular {
  font-family: "Rubik Vinyl", system-ui;
  font-weight: 400;
  font-style: normal;
}


:root{
    --color-primario: #fcf0cf ;
    --color-secundario: #001219;
    --color-terciario: #AE2012;
    --color-cuaternario: #EE9B00;
    --color-quinto: #0A9396;

    --tipografia-texto: "Special Elite";
    --tipografia-titulo: "Rubik Vinyl";

    font-family: var(--tipografia-texto);
}

body,h4,h3,h2,h1,p{
    font-family: var(--tipografia-texto);
    font-weight: 100;

    font-size: medium;
}

/* EL CUERPO PRINCIPAL */

body{
    display: flex;
    flex-direction: column;

    margin: 0;

    color: var(--color-secundario);

    background-color: var(--color-primario);
    background-size: cover;
}

.boton-pc{
    display:flexbox;
}
.boton-movil{
    display: none;
}
.boton-movil h4{
    content: "&#9776";
}

.linea-vertical{
    margin: 0;

    border-color: var(--color-secundario);
    border-style: solid;
    border-width: 1.25px;

    position: absolute;

    left: 80px;

    height: 100%;
}

/* SOBRE MI */

header{
    display: flex;
    flex-direction: row;

    margin: 0;
    padding-left: 60px;

    align-items: center;

    border-color: transparent transparent var(--color-secundario) transparent;
    border-style: solid;
    border-width: 2px;
}

header h3{
    width: 100%;
    margin: 0;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 20px;
}
header h4{
    width: 100px;
    margin: 0;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 20px;
        padding-top: 5px;

    font-weight: 100;

    background-image: linear-gradient(var(--color-cuaternario),var(--color-cuaternario));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s ease;
}

header h4:hover, header h4:focus{
    background-size: 100% 100%; 
    font-weight: 900;
}

header div {
    width: 100%;
    height: 40px;

    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;

    text-align: right;

    background-color: transparent;

    align-content: center;
}
header div button, header div select{
    margin: 0;
    padding: 0;


    height: auto;
    
    vertical-align: middle;

    background-color: transparent;

    border: none;

    font-family: var(--tipografia-texto);
    font-size: medium;
}

header div button h4, header div select{
    margin: 0;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 5px;

    color: var(--color-secundario);
    
    background-image: linear-gradient(var(--color-cuaternario),var(--color-cuaternario));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s ease;
}

header div button:hover h4, header div button:focus h4, header div select:hover, header div select:focus{
    background-size: 100% 100%;
    font-weight: 900;
}

.header-marquee{
    background-color: var(--color-quinto);
}

marquee{
    margin-left: 20px;

}

/* CONTENIDO */

.contenido{
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 20px;
}

.contenido h1{
    margin: 0;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;

    text-wrap-mode: nowrap;

    font-family: var(--tipografia-titulo);
    font-size: 120px;
}

.seleccion-horizontal{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.seleccion-vertical{
    display: flex;
    flex-direction: column;
    gap: 20px;

    text-align: justify;
}

.contenido div div{
    border-color: var(--color-secundario);
    border-style: solid;
    border-width: 2px;

    padding: 10px;
}
.sobremi{
    margin: 0;
    padding: 0;

    height: 800px;
    width: 100%;

    box-shadow: 0 0 80px 80px var(--color-primario) inset;
}
.sobremi h1{
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(#fcf0cf 50%, #00000000);
}
.sobremi hr{
    padding: 0;
    margin: 0;
    color: #001219;

    width: 100%;
}
.sobremi img{
    margin: 0;
    padding: 0;

    height: 617px;
    width: 100%;
    object-fit: cover;

    position: relative;

    border-top: var(--color-secundario) 2px solid;
}
.sobremi-datos{
    padding: 10px;
    position: fixed;
    transform: translate(-650px, 10px);

    color: var(--color-primario);
    background-color: var(--color-terciario);
}

.contenido div div p{
    padding: 0;
    margin: 0;

    font-size: large;
}

b{
    font-weight: 900;
}
/*.boton-especial{
    background-color: var(--color-terciario);

    border-color: var(--color-secundario);
    border-width: 2px;
    border-style: solid;

    box-shadow: var(--color-secundario) 6px 6px 0px;

    font-weight: bolder;

    transition: 0.1s;
}
.boton-especial:hover{
    box-shadow: var(--color-secundario) 4px 4px 0px;    
    transition: 0.1s;
}

.boton-especial:active{
        box-shadow: var(--color-secundario) 0px 0px 0px;
}
*/

@media only screen and (max-width: 700px) {
    .boton-movil{
        display:inline;
    }
    .boton-pc{
        display: none;
    }
    header div button h4{
        padding-left: 0px;
        padding-right: 0px;
    }
}